# Dependencias
node_modules/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local

# Archivos de IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Archivos de log
*.log
npm-debug.log*

# Archivos de construcción
dist/
build/
